<div ng-controller="RepoFilesCtrl" ng-cloak>

  <div ng-controller="RequestingCtrl" ng-hide="requesting.value">
    <h1>
      <a href="#/repo/{{repoFiles.value.id}}">
        <i class="fa fa-folder-open fa-fw"></i> {{repoFiles.value.id}}
      </a>
    </h1>
    <hr>


    <button ng-class="fileFilterClass.clean.button" ng-click="toggleFileFilter('clean')" ng-show="countStatus('clean')">
      <i ng-class="fileFilterClass.clean.icon"></i> {{countStatus('clean')}} clean
    </button>
    <button ng-class="fileFilterClass.modified.button" ng-click="toggleFileFilter('modified')" ng-show="countStatus('modified')">
      <i ng-class="fileFilterClass.modified.icon"></i> {{countStatus('modified')}} modified
    </button>
    <button ng-class="fileFilterClass.added.button" ng-click="toggleFileFilter('added')" ng-show="countStatus('added')">
      <i ng-class="fileFilterClass.added.icon"></i> {{countStatus('added')}} added
    </button>
    <button ng-class="fileFilterClass.removed.button" ng-click="toggleFileFilter('removed')" ng-show="countStatus('removed')">
      <i ng-class="fileFilterClass.removed.icon"></i> {{countStatus('removed')}} removed
    </button>
    <button ng-class="fileFilterClass.missing.button" ng-click="toggleFileFilter('missing')" ng-show="countStatus('missing')">
      <i ng-class="fileFilterClass.missing.icon"></i> {{countStatus('missing')}} missing
    </button>
    <button ng-class="fileFilterClass.untracked.button" ng-click="toggleFileFilter('untracked')" ng-show="countStatus('untracked')">
      <i ng-class="fileFilterClass.untracked.icon"></i> {{countStatus('untracked')}} untracked
    </button>
    <button ng-class="fileFilterClass.ignored.button" ng-click="toggleFileFilter('ignored')" ng-show="countStatus('ignored')">
      <i ng-class="fileFilterClass.ignored.icon"></i> {{countStatus('ignored')}} ignored
    </button>

    <p>&nbsp;</p>

    <hg-status repo="repoFiles.value.id" status="repoFiles.value.status" status-filter="fileStatusFilter"></hg-status>

  </div>

</div>
